@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 192, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 20px;
}
h1{
    font-size: 3em;
    text-align: center;
    background-color: rgb(245, 173, 173);
    text-shadow: 1px 1px 2px rgb(255, 94, 121);
    color: rgb(102, 36, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 1em;

}
#sair{
    color: rgb(3, 3, 68);
    font-size: 15px;
    padding: 0.4em;
    font-style: none;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.295);
    text-shadow: -1px 1px rgba(255, 0, 0, 0.363);
    position: static;
    float: right;
}
#sair:hover{
    background-color: rgba(255, 255, 255, 0.308);
    text-shadow: -1px 1px rgba(199, 142, 142, 0.486);
    box-shadow: none;
    border-radius: 5px;
    padding: 0.5em;
}
hr{
    display: block;
    height: 3px;
    background-color: rgba(83, 0, 55, 0.849);
    border: none;
    box-shadow: 0 2px 3px rgba(12, 0, 8, 0.438);
}
main{
    background-color: rgb(255, 255, 255);
    margin: 70px auto 0 auto;
    min-width: 435px;
    width: 70%;
    border: 2px solid rgb(88, 0, 66);
    border-radius: 4px;
    padding: 1em;
    box-shadow: 10px 10px 20px rgba(17, 0, 49, 0.336);
}
h2{
    padding-left: 30px;
    font-size: 1.8em;
    margin-bottom: 20px;
}
form{
    padding: 3em;
}
p{
    line-height: 2em;
}
input{
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.062);
    padding: 1px;
    padding-left: 4px;
    margin-left: 3px;
}
input:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.432);
}
mark{
    background: none;
    font-size: 2em;
}
#name{
    display: inline-block;
    width: 80%;
}
#email{
    max-width: 90%;
    min-width: 30%;
}
#age{
    width: 40px;
}
#range{
    width: 50%;
    min-width: 60px;
}
#address{
    width: 80%;
}
#club{
    margin-top: 20px;
}
select{
    width: max-content;
    text-align: center;
}
.radio{
    margin-right: 3px;
    margin-left: 5px;
}
.button{
    padding: 5px;
    background-color: rgb(247, 128, 148);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: max-content;
    margin: auto;

}
.button:hover{
    background-color: rgba(247, 128, 148, 0.733);
    color: rgba(255, 254, 254, 0.575);
    border: 1px solid rgba(92, 13, 56, 0.671);
    cursor: pointer;
}