@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(173, 216, 230);
    font-size: 1.2em;
}

h1{
    font-size: 3em;
    text-decoration: underline 2px rgba(255, 255, 255, 0.781);
    margin: 50px auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

main{
    height: auto;
    max-width: max-content;
    min-width: 430px;
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    border-radius: 5px;
    padding: 5px 0;
}
.item{

    position: relative;
    display: inline-block;
    min-width: 200px;
    height: 100px;
    margin: 0 5px;
    border-radius: 6px;
    border: 2px dashed rgba(63, 63, 63, 0.822);
}
.switch{

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 30%;
    width: 70px;
    border: 2px solid rgba(36, 36, 36, 0.507);
    border-radius: 15px;
}
.switchBall{

    background-color: rgb(54, 54, 56);
    position: absolute;
    left: -1px;
    top: -1px;
    height: 108%;
    width: 50%;
    border-radius: 49%;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s;
}